Django==1.7
Fabric==1.10.0
South==0.8.4
argparse==1.2.1
dj-database-url==0.2.2
dj-static==0.0.6
django-common-helpers==0.6.0
django-cron==0.3.5
django-wpadmin==1.7.4
ecdsa==0.11
gunicorn==18.0
mixer==4.10.1
paramiko==1.15.1
psycopg2==2.5.1
pycrypto==2.6.1
static==0.4
static3==0.6.1
wsgiref==0.1.2
