{% extends 'layout/base.html' %}

{% block title %}Финансовый кнут Вартаново-Исабаевых{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-block">
            <h4>Закрыть конверт</h4>
            <form action="" method="post">
            {% csrf_token %}
                <div class="form-section">
                    <p><span>Название конверта:</span> {{ envelope_name }}</p>
                </div>

                <div class="form-section">
                    <p><span>Накопленная сумма:</span> {{ envelope_amount }}</p>
                </div>

                <div class="form-section">
                    <input class="button" type="submit" value="Закрыть">
                </div>
            </form>
        </div>
    </div>

{% endblock content %}