<div class="container-block">
    {% block header %} {% endblock header %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-section">
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="form-section">
            {{ form.monthly_replenishment }}
            {{ form.monthly_replenishment.errors }}
        </div>

        <div class="form-section">
            <label>{{ form.cash.label }}:</label> {{ form.cash }}
            {{ form.cah.errors }}
        </div>

        <div class="form-section">
            <label>{{ form.account.label }}:</label> {{ form.account }}
            {{ form.account.errors }}
        </div>

        <div class="form-section">
            <label>{{ form.onetime_envelope.label }}:</label> {{ form.onetime_envelope }}
            {{ form.onetime_envelope.errors }}
        </div>

        <div class="form-section">
            {{ form.max_amount }}
            {{ form.max_amount.errors }}
        </div>

        <div class="form-section">
            <input class="button" type="submit" value="Сохранить">
        </div>
    </form>
</div>