{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Финансовый кнут Варатаново-Исабаевых{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-block">
            <div class="link">
                <a href="{% url 'envelope_create' %}"><button class="button">Создать конверт</button></a>
            </div>
        </div>

        <div class="container-block">
            <table class="data">
                <tr>
                    <td><a>Доход</a></td>
                    <td>{{ income }}</td>
                </tr>

                <tr>
                    <td >Нераспределенные деньги</td>
                    <td>{{ available_amount }}</td>
                </tr>
            </table>
        </div>

        {% if message %}
            <h4> {{ message }} </h4>
        {% endif %}

        <div class="container-block">
            <h4>Месячное пополнение конвертов</h4>
            <table class="table">
                <thead>
                    <th>Конверт</th>
                    <th>Месячное пополнение</th>
                    <th>Наличными</th>
                    <th>Закрыт</th>
                    <th></th>
                    <th></th>
                </thead>
                {% for envelope in envelopes %}
                    <tr>
                        <td class="table_column_name">{{ envelope.name }}</td>
                        <td class="table_column_amount">{{ envelope.monthly_replenishment }}</td>
                        <td class="table_column_amount">{{ envelope.cash|yesno }}</td>
                        <td class="table_column_amount">{{ envelope.closed|yesno }}</td>
                        <td><a href="{% url 'envelope_update' envelope.id %}"><img src="{% static 'images/edit-button-blue.png' %} "/></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}