{% load static %}

<div class="container-block">
    {% block header %} {% endblock header %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-section {%  if form.name.errors %}form-input-errors{% endif %}">
            {{ form.name }}
        </div>

        <div class="form-section {%  if form.monthly_replenishment.errors %}form-input-errors{% endif %}">
            {{ form.monthly_replenishment }}
        </div>

        <div class="form-section">
            <label>{{ form.cash.label }}:</label> {{ form.cash }}<label for="id_cash"></label>
            {{ form.cash.errors }}
        </div>

        <div class="form-section">
            <label>{{ form.account.label }}:</label> {{ form.account }}
            {{ form.account.errors }}
        </div>

        <div class="form-section">
            <label>{{ form.onetime_envelope.label }}:</label> {{ form.onetime_envelope }}<label for="id_onetime_envelope"></label>
        </div>

        <div class="form-section {%  if form.max_amount.errors %}form-input-errors{% endif %}">
            {{ form.max_amount }}
        </div>

        <div class="form-section">
                <label>Закрыть: </label>{{ form.closed }}<label for="id_closed"></label>
                {{ form.closed.errors }}
        </div>

        <div class="form-section">
            <input class="button" type="submit" value="Сохранить">
        </div>
    </form>
</div>