{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Финансовый кнут Варатаново-Исабаевых{% endblock %}

{% block content %}
    <div class="container">
        <div class="data">
            <table>
                <tr>
                    <td class="data-table-column">Доход</td>
                    <td>{{ income }}</td>
                </tr>

                <tr>
                    <td class="data-table-column">Нераспределенные деньги</td>
                    <td>{{ available_amount }}</td>
                </tr>
            </table>
        </div>

        {% block form %}
            {% include 'envelopes/envelope_form.html' %}
        {% endblock form %}

        {% if message %}
            <div class="data">
                <h3> {{ message }} </h3>
            </div>
        {% endif %}

        <div class="table">
            <table>
                <tr>
                    <th>Конверт</th>
                    <th>Месячное пополнение</th>
                    <th>Наличными</th>
                    <th>Закрыт</th>
                </tr>
                {% for envelope in envelopes %}
                    <tr>
                        <td class="table_column_name">{{ envelope.name }}</td>
                        <td class="table_column_amount">{{ envelope.monthly_replenishment }}</td>
                        <td class="table_column_amount">{{ envelope.cash|yesno }}</td>
                        <td class="table_column_amount">{{ envelope.closed|yesno }}</td>
                        <td><a href="{% url 'envelope_update' envelope.id %}"><img src="{% static 'images/edit_button.png' %} "/></a></td>
                        <td><a href="{% url 'envelope_close' envelope.id %}"><img src="{% static 'images/close_button.png' %} "/></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}