{% extends 'layout/base.html' %}

{% block title %}Финансовый кнут Варатаново-Исабаевых{% endblock %}

{% block content %}
    <div class="container">
        <div class="data">
            <table>
                <tr>
                    <td class="data-table-name-column">Доход</td>
                    <td>{{ income }}</td>
                </tr>

                <tr>
                    <td class="data-table-name-column">Нераспределенные деньги</td>
                    <td>{{ available_amount }}</td>
                </tr>
            </table>
        </div>
        <div class="form">
            <h4>Конверты</h4>
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>

                <div>
                    {{ form.monthly_replenishment }}
                    {{ form.monthly_replenishment.errors }}
                </div>

                <div class="form-input">
                    {{ form.cash.label }}: {{ form.cash }}
                    {{ form.cah.errors }}
                </div>

                <div class="form-input">
                    {{ form.account.label }}: {{ form.account }}
                    {{ form.account.errors }}
                </div>
                <input class="button" type="submit" value="Сохранить">
            </form>
        </div>

        <div class="table">
            <table>
                <tr>
                    <th>Конверт</th>
                    <th>Месячное пополнение</th>
                    <th>Наличными</th>
                </tr>
                {% for envelope in envelopes %}
                    <tr>
                        <td class="table_column_name">{{ envelope.name }}</td>
                        <td class="table_column_amount">{{ envelope.monthly_replenishment }}</td>
                        <td class="table_column_amount">{{ envelope.cash|yesno }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}