{% extends 'base.html' %}
{% block title %}Your expenses{% endblock %}
{% block content %}
    <div class="content">
        <table>
            <h3>Your expenses for {{ date }}</h3>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.name|safe }}</td>
                <td id = 'amount'>{{ expense.amount|safe }}</td>
                <td>{{ expense.date|date }}</td>
            </tr>
        {% endfor %}
        </table>
        <p>Total spent: {{ expenses_sum|safe }}</p>
    </div>
{% endblock %}