{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Expenses Information</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'style.css' %}">
</head>
<body>
    <div class="content">
        <table>
            <h3>Your expenses</h3>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.name|safe }}</td>
                <td>{{ expense.amount|safe }}</td>
                <td>{{ expense.date|date }}</td>
            </tr>
        {% endfor %}
        </table>
        <p>Total spend: {{ expenses_sum|safe }}</p>
        <p><a href="/">Home page</a></p>
    </div>
</body>
</html>