{% extends 'layout/base.html' %}

{% block title %}Финансовый кнут Варатаново-Исабаевых{% endblock %}

{% block content %}
    <div class="container">
        <div class="table">
            <table>
                <tr>
                    <th>Расход</th>
                    <th>Сумма</th>
                    <th>Конверт</th>
                </tr>
                {% for expense in expenses %}
                    <tr>
                        <td class="table_column_name">{{ expense.name }}</td>
                        <td class="table_column_amount">{{ expense.amount }}</td>
                        <td class="table_column_amount">{{ expense.envelope }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}