{% extends 'layout/base.html' %}

{% block title %}Финансовый кнут Вартаново-Исабаевых{% endblock %}

{% block content %}
    <div class="container">

        <div class="container-block">
            <table class="data">
                <tr>
                    <td>Сумма на текущий момент</td>
                    <td>{{ account }}</td>
                </tr>
            </table>
        </div>

        {% block form %}
            {% block header %}<h4>Внести расход</h4>{% endblock header %}
             {% include 'expenses/expense_form.html' %}
        {% endblock form %}

        <div class="container-block">
            <h4>Накопленные суммы в конвертах</h4>
            <table class="table">
                <tr>
                    <th>Конверт</th>
                    <th>Отложенная сумма</th>
                    <th>Наличными</th>
                </tr>
                {% for envelope in envelopes %}
                    <tr>
                        <td class="table_column_name">{{ envelope.name }}</td>
                        <td class="table_column_amount">{{ envelope.current_amount }}</td>
                        <td class="table_column_amount">{{ envelope.cash|yesno }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content%}