{% extends 'layout/base.html' %}

{% block title %}Финансовый кнут Варатаново-Исабаевых{% endblock %}

{% block content %}
    <div class="container">
        <div>
            <table>
            <tr>
                <td>Доход</td>
                <td>sum of all incomes from relation Incomes</td>
            </tr>

            <tr>
                <td>Сумма на текущий момент</td>
                <td>Sum of all accounts from relation Accounts</td>
            </tr>
        </table>
        </div>

        <div class="column">
            <h4>Список всех конвертов</h4>
        </div>

         <div class="column">
             <h4>Расходы</h4>
             <form action="" method="post">
                 {% csrf_token %}
                 {{ form.as_p}}
                 <input type="submit" value="Сохранить">
                   {% for envelope in envelopes %}
                        {{ envelope }}
                   {% endfor %}
             </form>
        </div>
    </div>
{% endblock %}