@charset "UTF-8";
@import url(reset.css);
body {
  margin: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 120%;
  color: #172555; }

header {
  margin: auto;
  padding: 5px 5px;
  background-color: #172555; }

img {
  width: 20px;
  height: 20px;
  padding-left: 30px; }

.nav ul {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  height: auto; }
.nav li {
  display: inline-block;
  width: 180px;
  padding: 3px;
  margin: 10px 2px;
  vertical-align: middle; }
.nav a:link, .nav a:visited {
  font-weight: bold;
  color: #cae7ff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle; }
.nav h1 {
  color: #cae7ff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

.container {
  margin: auto;
  width: 70%;
  padding: 10px; }
  .container .container-block {
    padding: 5px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    width: 80%; }
    .container .container-block form {
      padding: 10px;
      margin: auto;
      width: 85%; }
    .container .container-block .form-section {
      width: 70%;
      padding: 7px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      align-items: center; }
      .container .container-block .form-section input {
        font-size: 90%; }
        .container .container-block .form-section input::-webkit-input-placeholder {
          color: #204b95; }
      .container .container-block .form-section select {
        border: 1px solid;
        border-radius: 3px;
        border-color: #204b95;
        background-color: white;
        font-size: 80%;
        color: #204b95; }
      .container .container-block .form-section label {
        vertical-align: top;
        padding: auto;
        margin: auto; }
      .container .container-block .form-section input[type='checkbox'].checkbox {
        -webkit-appearance: none;
        background-color: white;
        border: 1px solid #204b95;
        border-radius: 2px;
        margin: 0px;
        padding: 0px;
        width: 20px;
        height: 20px; }
      .container .container-block .form-section input[type='checkbox'].checkbox:checked + label:after {
        display: inline-block;
        content: "✔";
        color: #204b95;
        margin-left: -15px;
        cursor: pointer;
        overflow: hidden; }
      .container .container-block .form-section span {
        color: #204b95;
        font-weight: bold; }
    .container .container-block .form-input-errors input {
      border-color: #95180c;
      background-image: url("/static/images/error.png");
      background-repeat: no-repeat;
      background-position: 100% -2px; }
      .container .container-block .form-input-errors input::-webkit-input-placeholder {
        color: #95180c; }
    .container .container-block .form-input {
      margin-left: auto;
      margin-right: auto;
      padding: 2px;
      width: 60%;
      height: 20px;
      border: 1px solid;
      border-radius: 3px;
      border-color: #204b95; }
    .container .container-block .table {
      margin: auto;
      padding: 5px;
      width: auto;
      vertical-align: middle; }
      .container .container-block .table tbody {
        margin-bottom: 15px; }
      .container .container-block .table th {
        width: auto;
        padding: 10px;
        border-bottom: double #204b95; }
      .container .container-block .table td {
        padding: 5px 0px; }
    .container .container-block .table_column_amount {
      text-align: center; }
    .container .container-block .table_column_name {
      text-align: left; }
    .container .container-block .data {
      margin: 15px auto;
      width: 50%;
      vertical-align: middle;
      text-align: center;
      height: auto; }
      .container .container-block .data td {
        width: 80%;
        padding: 5px; }
  .container .button {
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    width: auto;
    background-color: #172555;
    color: #cae7ff;
    border: 1px solid;
    border-radius: 3px;
    border-color: #204b95; }
  .container .errorlist {
    color: #95180c; }

h4 {
  text-decoration: none;
  text-transform: uppercase;
  color: #204b95;
  text-align: center;
  margin: 10px auto;
  height: auto; }

/*# sourceMappingURL=base.css.map */
