.pagination{
    padding: 5px;
    margin-top: auto;
    margin-right: auto;
    margin-left: 25em;
    width: 80%;
}

.pagination-btn{
    color: #cae7ff;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    margin: 15px 2px;
    min-width: 14px;
    padding:  0 7px;
    background-color: #172555;
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
}