<div class="container-block">
    {% block header %}{% endblock header %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-section">
            {{ form.name }}
            {{ form.name.errors }}
        </div>

        <div class="form-section">
            {{ form.amount }}
            {{ form.amount.errors }}
        </div>

        <div class="form-section">
            <label>{{ form.envelope.label }}</label>: {{ form.envelope }}
            {{ form.envelope.errors }}
        </div>

        <div class="form-section">
            <input class="button" type="submit" value="Сохранить">
        </div>
    </form>
</div>
