{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Финансовый кнут Варатаново-Исабаевых{% endblock %}

{% block content %}
    <div class="container">

        {% if message %}
            <div class="data">
                <h3> {{ message }} </h3>
            </div>
        {% endif %}

        <div class="container-block">
            <h4>Посмотреть расходы по конвертам</h4>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-section">
                    <label>Конверт:</label>{{ form.envelope }}
                    {{ form.envelope.errors }}
                </div>

                <div class="form-section">
                    <input class="button" type="submit" value="Показать расходы">
                </div>
            </form>
        </div>

        <h4>Все внесенные расходы</h4>
        <div class="container-block">
            <table class="table">
                <tr>
                    <th>Расход</th>
                    <th>Сумма</th>
                    <th>Конверт</th>
                    <th></th>
                </tr>
                {% for expense in expenses %}
                    <tr>
                        <td class="table_column_name">{{ expense.name }}</td>
                        <td class="table_column_amount">{{ expense.amount }}</td>
                        <td class="table_column_amount">{{ expense.envelope }}</td>
                        <td><a href="{% url 'expense_update' expense.id %}"><img src="{% static 'images/edit-button-blue.png' %}"/></a></td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}