{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Финансовый кнут Варатаново-Исабаевых{% endblock %}

{% block content %}
<div class="container">

    <div class="container-block">
        <h4>Выбрать другой конверт</h4>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-section">
                <label>Конверт:</label>{{ form.envelope }}
                {{ form.envelope.errors }}
            </div>

            <div class="form-section">
                <input class="button" type="submit" value="Показать">
            </div>
        </form>
    </div>

    <hr>

    <div class="container-block">
        <table class="data">
            <p class="table_description">В конверте {{ envelope_name }}</p>
            <tr>
                <td>Потрачено</td>
                <td>{{ expenses_sum.total }}</td>
            </tr>
            <tr>
                <td>Осталось</td>
                <td>{{ envelope_sum }}</td>
            </tr>
        </table>
    </div>

    <div class="container">
        <h4>Pасходы в конверте</h4>
        <div class="container-block">
            <table class="table">
                <tr>
                    <th>Расход</th>
                    <th>Сумма</th>
                </tr>
                {% for expense in expenses %}
                    <tr>
                        <td class="table_column_name">{{ expense.name }}</td>
                        <td class="table_column_amount">{{ expense.amount }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}