{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Финансовый кнут Варатаново-Исабаевых{% endblock %}

{% block content %}
    <div class="container">

        {% if message %}
            <div class="data">
                <h3> {{ message }} </h3>
            </div>
        {% endif %}

        <div class="container-block">
            <h4>Выбрать конверт</h4>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-section">
                    <label>Конверт:</label>{{ form.envelope }}
                    {{ form.envelope.errors }}
                </div>

                <div class="form-section">
                    <input class="button" type="submit" value="Показать конверт">
                </div>
            </form>
        </div>

        <hr>

        <h4>Все внесенные расходы</h4>
        <div class="container-block" id="all_expenses">
            <table class="table" >
                <thead>
                    <th>Расход</th>
                    <th>Сумма</th>
                    <th>Конверт</th>
                    <th></th>
                </thead>

                {% for expense in expenses %}
                    <tr>
                        <td class="table_column_name">{{ expense.name }}</td>
                        <td class="table_column_amount">{{ expense.amount }}</td>
                        <td class="table_column_amount">{{ expense.envelope }}</td>
                        <td><a href="{% url 'expense_update' expense.id %}"><img src="{% static 'images/edit-button-blue.png' %}"/></a></td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/pagination.js' %}"></script>
    <script type="text/javaScript">
    $(document).ready(function(){
        $('#all_expenses').tablePaginate({navigateType:'navigator', recordPerPage:15});
    });
</script>
{% endblock %}


