{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Финансовый кнут Варатаново-Исабаевых{% endblock %}

{% block content %}
    <div class="container">

        {% if message %}
            <div class="data">
                <h3> {{ message }} </h3>
            </div>
        {% endif %}

        {% include 'envelopes/select_envelope_form.html' %}

        <h4>Все внесенные расходы</h4>
        <div class="container-block" id="all_expenses">
            <table class="table" >
                <thead>
                    <th>Расход</th>
                    <th>Сумма</th>
                    <th>Конверт</th>
                    <th></th>
                </thead>

                {% for expense in expenses %}
                    <tr>
                        <td class="table_column_name">{{ expense.name }}</td>
                        <td class="table_column_amount">{{ expense.amount }}</td>
                        <td class="table_column_amount">{{ expense.envelope }}</td>
                        <td><a href="{% url 'expenses:expense_update' expense.id %}"><img src="{% static 'images/edit-button-blue.png' %}"/></a></td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}


