{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Финансовый кнут Варатаново-Исабаевых{% endblock %}

{% block content %}
    <div class="container">

        <div class="container-block">
            <table class="data">
                <tr>
                    <td>Сумма всех постоянных расходов </td>
                    <td>{{ sum.total }}</td>
                </tr>
            </table>
        </div>

        <h4>Все постоянные расходы</h4>
        <div class="container-block">
            <table class="table">
                <thead>
                    <th>Расход</th>
                    <th>Сумма</th>
                    <th></th>
                </thead>
                {% for expense in expenses %}
                    <tr>
                        <td class="table_column_name">{{ expense.name }}</td>
                        <td class="table_column_amount">{{ expense.amount }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}