.content a:link, a:visited {color:#0000FF;text-decoration:none;}
.content a:hover {color:#B22222;text-decoration:underline;}
.column-left {float:left;width: 30%}
.column-right {float:left;width: 30%}
.column-center {float: left;width: 30%}