{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'styles/reset.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'styles/base.css' %}" rel="stylesheet" type="text/css" >
    <link media="screen and (min-device-width: 400px)">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li><h1><a href="{% url 'home' %}">наш бюджет</a></h1></li>
                <li><h1><a href="{% url 'envelopes' %}">конверты</a></h1></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="data">
            <table class="table">
                <tr>
                    <td>Доход</td>
                    <td><span class="amount">{{ income.total }}</span></td>
                </tr>

                <tr>
                    <td>Сумма на текущий момент</td>
                    <td><span class="amount">{{ account.total }}</span></td>
                </tr>
                <tr>
                    <td>Нераспределенные деньги</td>
                    <td><span class="amount">{{ available_amount }}</span></td>
                </tr>
            </table>
        </div>
    </div>
    {% block content %}{% endblock %}</body>
</html>
</html>