{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'styles/reset.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'styles/base.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'styles/narrow.css' %}" rel="stylesheet" type="text/css" media="(max-device-width: 360px)">
    <link href="{% static 'styles/pagination.css' %}" rel="stylesheet" type="text/css" media="all">
    <link rel="shortcut icon" type="image" href="{% static 'images/favicon.png' %}"/>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <div class="nav">
            <ul>
                <li><h1><a href="{% url 'home' %}">наш бюджет</a></h1></li>
                <li><h1><a href="{% url 'envelopes' %}">конверты</a></h1></li>
                <li><h1><a href="{% url 'expenses' %}">расходы</a></h1></li>
                <li><h1><a href="{% url 'regular_expenses' %}">постоянные расходы</a></h1></li>
            </ul>
        </div>
    </header>
    {% block content %}
        {% block form %}{% endblock form %}
    {% endblock content%}
</body>
</html>
